<%- include('../layouts/productheader') %>

<div class="header-middle sticky-header">
    <div class="container">
        <div class="header-left">
            <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
            </button>

            <a href="/home" class="logo">
                <h2 style="color: black;;">KenZ</h2>
            </a>
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    
                    <li>
                        <a href="/home" class="sf-with-ul">Home</a>

                        <div class="megamenu megamenu-md">

                        </div><!-- End .megamenu megamenu-md -->
                    </li>
                    <li>
                        <a href="/product-list" class="sf-with-ul">Shop</a>

                        <div class="megamenu megamenu-md">

                        </div><!-- End .megamenu megamenu-md -->
                    </li>
                    <li>
                        <a href="/profile" class="sf-with-ul">Profile</a>

                        <div class="megamenu megamenu-md">

                        </div><!-- End .megamenu megamenu-md -->
                    </li>

                </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->
        </div><!-- End .header-left -->

        <div class="header-right">

            <div class="dropdown compare-dropdown">
                <div class="wishlist">
                    <a href="/wishlist" title="Wishlist">
                        <i class="icon-heart-o"></i>

                </div><!-- End .compare-dropdown -->


            </div><!-- End .compare-dropdown -->

            <div class="dropdown cart-dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" data-display="static">
                 <i class="icon-shopping-cart" style="color: black;"></i>
             </a>
             
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-cart-products">

                    </div><!-- End .cart-product -->

                    <div class="dropdown-cart-total">

                    </div><!-- End .dropdown-cart-total -->

                    <div class="dropdown-cart-action">
                        <a href="/cartlist" class="btn btn-primary">View Cart</a>
                    </div><!-- End .dropdown-cart-total -->                       
                </div><!-- End .dropdown-menu -->
            </div><!-- End .cart-dropdown -->
            <div class="dropdown compare-dropdown">
                <div class="logout">
                    <a href="/logout" title="Logout" style="color: black;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 1a1 1 0 0 1 1 1v3h-1V2H2v12h8v-3h1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8z"/>
                            <path fill-rule="evenodd" d="M13.5 8a.5.5 0 0 0 0-1h-7a.5.5 0 0 0 0 1h7z"/>
                            <path fill-rule="evenodd" d="M12.354 4.646a.5.5 0 0 0-.708.708L14.293 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3z"/>
                        </svg>
                        Logout
                    </a>
                </div><!-- End .logout -->
            </div><!-- End .compare-dropdown -->
            <!-- End .compare-dropdown -->
            
        </div><!-- End .header-right -->
    </div><!-- End .container -->
</div><!-- End .header-middle -->
</header><!-- End .header -->

    <main class="main">
        <div class="page-header text-center" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUZTqYvv38DZhhKiWQ4qEMiQpvB8S2zfRNp-DPYG8v-JrQqLl5_lcnD_-b8oozMh5D9Yw&usqp=CAU')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="product-list">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                  
                  
                    
                </div>
                    <!-- End .checkout-discount -->
                    <form action="/place-order" method="post">
                        <div class="row">
                            <div class="col-lg-9">
                                <a href="/loadcoupon">
                                    <p style="border: 3px ; width: 300px; padding: 15px; text-align: center; background-color: rgb(129, 134, 134); color: #fff;">
                                        <b>Available Coupons</b>
                                    </p>
                                </a>
                                <div style="display: flex; align-items: center; margin-bottom: 15px;">
                                    <div style="flex: 3; padding-right: 10px;">
                                        <label for="couponCode" style="color: #333; display: block; margin-bottom: 5px; font-size: 18px;">
                                            Have a coupon code?
                                        </label>
                                        <input type="text" class="form-control" name="couponCode" id="couponCode" style="width: 300px; border-color: #f1c9c9;">
                                    </div>
                                    <div style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
                                        <div style="flex: 2; display: flex; flex-direction: column;">
                                            <button type="button" class="btn btn-primary btn-sm" id="applyCoupon" style="margin-bottom: 5px; background-color: yellow; border-color: yellow; color: #000; display: none;">
                                                Apply
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" id="removeCoupon" style="margin-bottom: 5px; display: none;">
                                                Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="checkout-title">Billing Details</h2>
                                <div class="row">
                                    <% console.log(chosenAddress); %>
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" value="<%= chosenAddress ? chosenAddress.address[0].name : 'Not specified' %>" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Mobile Number</label>
                                        <input type="text" class="form-control" value="<%= chosenAddress ? chosenAddress.address[0].mobile : 'Not specified' %>" required>
                                    </div>
                                </div>
                                <label>Address</label>
                                <input type="text" class="form-control" value="<%= chosenAddress ? chosenAddress.address[0].address : 'Not specified' %>" required>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Town / City *</label>
                                        <input type="text" class="form-control" value="<%= chosenAddress ? chosenAddress.address[0].city : 'Not specified' %>" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>District *</label>
                                        <input type="text" class="form-control" value="<%= chosenAddress ? chosenAddress.address[0].district : 'Not specified' %>" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>State *</label>
                                        <input type="text" class="form-control" value="<%= chosenAddress ? chosenAddress.address[0].state : 'Not specified' %>" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Pincode *</label>
                                        <input type="text" class="form-control" value="<%= chosenAddress ? chosenAddress.address[0].pincode : 'Not specified' %>" required>
                                    </div>
                                </div>
                            </div>
                            
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title text-center">Your Order</h3>
                            
                                    <div class="table-responsive">
                                        <div class="table-container">
                                            <table class="table table-summary">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (user.cart && user.cart.length > 0) { %>
                                                        <% let totalCartPrice = 0; %>
                                                        <% user.cart.forEach(cartItem => { %>
                                                            <tr>
                                                                <td><%= cartItem.product && cartItem.product.productName ? cartItem.product.productName : 'Product Name Not Available' %></td>
                                                                <td><%= cartItem.quantity %></td>
                                                                <% let itemTotal = cartItem.product && cartItem.product.price ? cartItem.quantity * cartItem.product.price : 0 %>
                                                                <td>Rs <%= itemTotal.toFixed(2) %></td>
                                                                <% totalCartPrice += itemTotal; %>
                                                            </tr>
                                                        <% }) %>
                                                        <tr class="summary-subtotal">
                                                            <td colspan="2" class="text-right">Subtotal:</td>
                                                            <td>Rs <%= totalCartPrice.toFixed(2) %></td>
                                                        </tr>
                                                        <% if (totalCartPrice < 2000) { %>
                                                            <tr>
                                                                <td colspan="2" class="text-right">Shipping Charge:</td>
                                                                <td>Rs 40</td>
                                                            </tr>
                                                            
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="2" class="text-right">Shipping Charge:</td>
                                                                <td>Free shipping</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3" class="text-center text-success">Shipping is free for orders above Rs. 2000!</td>
                                                            </tr>
                                                        <% } %>
                                                        <tr class="summary-discount">
                                                            <td colspan="2" class="text-right">Discount amount:</td>
                                                            <td id="discountShow">Rs 0.00</td>
                                                        </tr>
                                                        <tr class="summary-total">

                                                            <td colspan="2" class="text-right">Final Total:</td>
                                                            <% if (totalCartPrice < 2000) { %>
                                                            <td id="final-total">Rs <%= (totalCartPrice+40).toFixed(2) %></td>
                                                            <% } else { %>
                                                                <td id="final-total">Rs <%= totalCartPrice.toFixed(2) %></td>
                                                                <% } %>
                                                        </tr>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="3">No items in the cart.</td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            
                                    <div class="accordion-summary" id="accordion-payment">
                                        <!-- Your accordion content goes here -->
                                    </div>
                            
                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                
                                                <input type="radio" name="paymentMethod" value="cashOnDelivery" id="cashOnDelivery" required>
                                                <label for="cashOnDelivery" style="font-size: 16px; font-weight: bold;">COD</label>
                                                <input type="radio" name="paymentMethod" value="onlinePayment" id="onlinePayment" required>
                                                <label for="onlinePayment" style="font-size: 16px; font-weight: bold;">Online Payment</label>
                                                <input type="radio" name="paymentMethod" value="wallet" id="wallet" required>
                                                <label for="wallet" style="font-size: 16px; font-weight: bold;">wallet</label>
                                            </h2>
                                        </div>
                                    </div>
                            
                                    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
                                        <div class="toast-body bg-danger text-white">
                                            You can't choose COD for the amount that exceeds Rs. 1000
                                        </div>
                                    </div>
                                    <% if (totalCartPrice > 1000) { %>
                                        <tr>
                                            <td colspan="2" style="font-size: 12px; color: rgb(31, 212, 31);">Choose Online or Wallet, Can't choose COD for order above 1000!</td>
                                        </tr>
                                    <% } %>
                                    
                                    
                                        
                                    <br><br>
                                    <% if (messages.error) { %>
                                        <div class="text-danger" role="alert">
                                            <%= messages.error %>
                                        </div>
                                    <% } %>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-primary-2 btn-order mt-3">
                                        
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div>
                                </div>
                            </aside>
                            
                            
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <!--  -->
                            
                            <!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    <footer class="footer footer-2">
        <div class="footer-middle border-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="widget widget-about">


                            <div class="widget-about-info">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <span class="widget-about-title">Got Question? Call us 24/7</span>
                                        <a href="tel:123456789">+0123 456 789</a>
                                    </div><!-- End .col-sm-6 -->
                                    <div class="col-sm-6 col-md-8">
                                        <span class="widget-about-title">Payment Method</span>
                                        <figure class="footer-payments">
                                            <img src="assets/images/payments.png" alt="Payment methods" width="272"
                                                height="20">
                                        </figure><!-- End .footer-payments -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .widget-about-info -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-12 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About KenZ</a></li>
                                <li><a href="#">How to shop on KenZ</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-4 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-4 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-64 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2024 KenZ Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <ul class="footer-menu">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul><!-- End .footer-menu -->
                <div class="social-icons social-icons-color">
                    <span class="social-label"></span>
                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                            class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                            class="icon-twitter"></i></a>
                    <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                            class="icon-instagram"></i></a>
                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                            class="icon-youtube"></i></a>
                    <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                            class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="home.ejs">Home</a>

                    <li>
                        <a href="/category">Shop</a>

                    </li>
                    <li>
                        <a href="/product-list" class="sf-with-ul">Product</a>

                    </li>
                    <li>

                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->




    <!-- Add this script section at the end of your EJS file -->
     
     <script>
document.addEventListener('DOMContentLoaded', function() {
    const couponCodeInput = document.getElementById('couponCode');
    const applyCouponButton = document.getElementById('applyCoupon');
    const removeCouponButton = document.getElementById('removeCoupon');

    couponCodeInput.addEventListener('input', function() {
        if (couponCodeInput.value.trim() !== '') {
            applyCouponButton.style.display = 'block';
        } else {
            applyCouponButton.style.display = 'none';
            removeCouponButton.style.display = 'none';
        }
    });

    applyCouponButton.addEventListener('click', function() {
        // Logic to apply the coupon code goes here
        applyCouponButton.style.display = 'none';
        removeCouponButton.style.display = 'block';
    });

    removeCouponButton.addEventListener('click', function() {
        // Logic to remove the coupon code goes here
        couponCodeInput.value = '';
        applyCouponButton.style.display = 'none';
        removeCouponButton.style.display = 'none';
    });
});

</script>
  
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const couponCodeInput = document.getElementById('couponCode');
        const applyCouponButton = document.getElementById('applyCoupon');
        const removeCouponButton = document.getElementById('removeCoupon');
        const couponToast = document.getElementById('coupon-toast');
        const discountShow = document.getElementById('discountShow');
        const finalTotal = document.getElementById('final-total');
        const codRadioButton = document.getElementById('cashOnDelivery');
        const toast = document.getElementById('toast');
    
        // Initialize the page
        initializePage();
    
        function initializePage() {
            // Event listeners
            couponCodeInput.addEventListener('input', handleCouponInputChange);
            applyCouponButton.addEventListener('click', applyCoupon);
            removeCouponButton.addEventListener('click', removeCoupon);
            codRadioButton.addEventListener('click', handleCODButtonClick);
    
            // Initial check of total amount
            checkTotalAmount();
        }
    
        // Function to handle input change in coupon code field
        function handleCouponInputChange() {
            if (couponCodeInput.value.trim() !== '') {
                applyCouponButton.style.display = 'inline-block';
                removeCouponButton.style.display = 'none';
            } else {
                applyCouponButton.style.display = 'none';
                removeCouponButton.style.display = 'none';
            }
        }
    
        // Function to apply coupon
        async function applyCoupon() {
            const couponCode = couponCodeInput.value.trim();
    
            const response = await fetch('/applycoupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    userId: '<%= user._id %>',
                    couponCode: couponCode
                }),
            });
    
            if (response.ok) {
                const responseData = await response.json();
                let { discountAmount, totalAmountAfterDiscount } = responseData;
    
                // Cap discount amount at 1000 if it exceeds
                if (discountAmount > 1000) {
                    discountAmount = 1000;
                    totalAmountAfterDiscount = cartTotal - discountAmount; // Adjust total accordingly
                }
    
                // Update UI with discount and final total
                discountShow.innerText = `Rs${discountAmount.toFixed(2)}`;
                finalTotal.innerText = `Rs${totalAmountAfterDiscount.toFixed(2)}`;
    
                // Show coupon applied toast
                showToast('Coupon applied successfully.');
    
                // Check if final total exceeds 1000
                checkTotalAmount();
    
            } else {
                console.error('Failed to apply coupon:', response.statusText);
            }
        }
    
        // Function to remove coupon
        async function removeCoupon() {
            const response = await fetch('/removecoupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    userId: '<%= user._id %>',
                }),
            });
    
            if (response.ok) {
                const responseData = await response.json();
                const { cartTotal } = responseData;
    
                // Update UI to remove coupon and revert to original total
                discountShow.innerText = 'Rs0.00';
                finalTotal.innerText = `Rs${cartTotal.toFixed(2)}`;
    
                // Hide coupon applied toast
                couponToast.style.display = 'none';
    
                // Check if final total exceeds 1000
                checkTotalAmount();
            } else {
                console.error('Failed to remove coupon:', response.statusText);
            }
        }
    
        // Function to handle COD button click
        function handleCODButtonClick() {
            if (codRadioButton.disabled) {
                showToast("You can't choose COD for orders exceeding Rs. 1000.");
            }
        }
    
        // Function to check if total amount exceeds 1000
        function checkTotalAmount() {
            const totalAmount = parseFloat(finalTotal.innerText.replace('Rs', '').trim());
            if (totalAmount > 1000) {
                codRadioButton.disabled = true;
            } else {
                codRadioButton.disabled = false;
            }
        }
    
        // Function to show toast message
        function showToast(message) {
            toast.innerText = message;
            toast.style.visibility = 'visible';
            toast.style.display = 'block'; // Make the toast visible
            setTimeout(() => {
                toast.style.visibility = 'hidden';
                toast.style.display = 'none'; // Hide the toast after 3 seconds
            }, 3000);
        }
    });
    </script>
    
    
    <%- include('../layouts/productfooter.ejs') %>